/* Background pattern from Subtle Patterns */
body{
    background-image: url(hexabump.png);
    color: snow;
    font-family: 'Inconsolata', monospace;
}

#container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#menuBar{
    width: 100%;
    background-color: #E50018;
    text-align: center;
}

ul > li{
    display: inline-block;
    padding: 10px;
    width: 90px;
    border-right: 2px solid #c30006;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #E50018;
}

ul > li:first-child{
    border-left: 2px solid #c30006;
}

ul > li:hover{
    background-color: #d40007;
}